<div class="card singleStoreTemplate">
        	<div class="item item-thumbnail-left item-text-wrap" >
	   	
	   	<img ng-src="{{store.bannerImage}}" />
	             <div class="storeRating">
	             	{{store.rating}}
	             </div>
	             <h2 class="storeHeading"> {{store.name}}</h2>
	             
	             <div class="storeAddress">
	                        <span>{{::store.address.locality+", "}}</span>
	                        <span>{{::store.address.area+", "}}</span>
	                        <span>{{::store.address.city}}</span>
	                        
	             </div>
	             <div class="storeListCategories">
	             	<span class="storeCategory" ng-repeat="category in store.category">{{::category}}	
		       	</span>
	             </div>
	             <div class="storeListSubCategories">
	             	<span class="storeSubCategory" ng-repeat="subCategory in store.subCategory">{{::subCategory}}
		       	</span>
	             </div>
	             
        	</div>
        	
        	<div class="item item-divider">
        		<div class="row">
        			<div class="storeStats col-33"> {{::store.visitsCount}} Visits</div>
			<div class="storeStats col-33"> {{::store.productsCount}} Products</div>
			<div class="storeStats col-33">{{::store.reviewsCount}} Reviews </div>	
        		</div>
    		
  	</div>		
</div>
