<ion-view >
        <ion-content>
                <div class="storesLocationCollection">
                        <h1 class="collectionHeader">{{slcc.storesSearchHeader.split('-').join(" ")}}</h1>
                                <md-button class="md-raised md-primary" ng-click="slcc.showFilterDialog()">Filter</md-button>
                                <stores-list param-data="slcc.paramData">
                                </stores-list>
                </div>
        </ion-content>
</ion-view>
